{% load static %}
{%  include "Admin/header.html" %}

    <!--Main-->
    <main class="bg-white-300 flex-1 p-3 overflow-hidden">
<thead><h1>District Registration</h1></thead>
        <br>
        <div class="flex flex-col">
            <form action="{% url 'district' %}" method="post">
                {% csrf_token %}
                <input type="text" name="districtname" placeholder="districtname" class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b"
                       style="width:400px;" required><br>
                <br>
                <button type="submit" class="form-control bg-blue-500 hover:bg-blue-800 text-white font-light py-1 px-2 rounded-full" style="width:200px;" required>Submit</button>
            </form>


            <br> <br> <br>

            <!-- Card Sextion Starts Here -->
            <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

                <!-- card -->

                <div class="rounded overflow-hidden shadow bg-white mx-2 w-full">
                    <div class="px-6 py-2 border-b border-light-grey">
                        <div class="font-bold text-xl">District</div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>District Name</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for d in district %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ d.districtname }}</td>
                                <td><a href="{% url 'editdistrict' id=d.districtid %}" class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white"><i class="fas fa-edit"></i></a></td>
                                <td><a href="{% url 'deletedistrict' id=d.districtid %}"
                                       onclick="return confirm('Are you sure want to delete??')" class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-red-500"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /card -->

            </div>
            <!-- /Cards Section Ends Here -->


        </div>
    </main>
    <!--/Main-->
</div>
{%  include "Admin/footer.html" %}